<div class="fondo">
    <div class="delete-container">
      <div class="welcome-text">
        <p><strong>Coloca tus correo para restaurar tu contraseña</strong></p>
      </div>
      <div class="logod-container">
        <img src="../../../assets/recoveryi.png" alt="logod" class="logod">
      </div>
      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Ingrese su correo</mat-label>
          <input matInput type="email" id="email"> <!-- Cambié el type a email -->
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="navigateToSendEmail()">Enviar correo</button> 
      </div>
    </div>
  </div>