<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" href="register-successful.component.css"> <!-- Enlaza tu archivo CSS modificado -->
</head>
<body>
    <div class="register-successful-container">
        <h2>Registro Exitoso</h2>
        <img src="../../../assets/register.png">
        <button mat-raised-button color="primary" (click)="navigateToLogin()">Regresar al login</button>
    </div>
</body>
</html>
